body{
  margin:0;

 
  
}
ul{
    list-style-type:none;
    padding: 0;
    margin:0;
    overflow: hidden;
    background-color: #202020;
}
li {
    float: right;
  }
  
li a {
display: block;
color: white;
font-family: century gothic;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: white;
color:black;
}

#hero{
  position: relative;
  text-align: center;
}

#hero img{
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  filter: blur(2px);
}

#home-text{
  text-align: center;
  padding: 130px 20px;
  position: absolute;
  top: 5%;
  left: 25%;
  

}

#home-text h2{
  color:white;
  font-family:Century gothic;
  text-transform: uppercase;
  font-weight: bold;
}

#home-text p{
  color:white;
  font-family: century gothic;
}

#home-text button{
  background-color:#202020;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: century gothic;
  font-size: 16px;
  border-radius: 12px;
}

#lowerSection{
  background-color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #333;
}

#services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.service {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service:hover {
  transform: scale(1.05);
}

.service h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.service p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}